
.oka{
  max-height: 400px;
}

.bucket{
  max-height: 61vh;
}

.play{
  max-height: 67vh;
}

.img{
  margin-right: 2%;
}

.login{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ulstyle{
  margin-left: 2%;
}

.tp{
  font-size: 14px !important;
}

.euiTab__content{
  font-size: 14px !important;
}

.euiTab{
  height: 40px !important;
}

.results{
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #1BA9F5;
}


.audio{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}