
.oka{
  max-height: 400px;
}

.bucket{
  max-height: 400px;
}

.play{
  max-height: 450px;
}

.img{
  margin-right: 2%;
}
.login{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ulstyle{
  margin-left: 2%;
}



.audio{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}





